<div id="<%= dom_id link %>">

  <p>
    <strong>Name:</strong>
    <%= current_user.username %>
  </p>

  <p>
    <strong>Studentid:</strong>
    <%= link.name %>
  </p>

  <strong>Post on :</strong>
  <td><%= link.created_at+25200 %></td>
    
  <p>
    <strong>Description:</strong>
    <%= link.url %>
  </p>

  <p>
    <strong>Rush Emergency ?:</strong>
    <%= link.ruch_emergency %>
  </p>

  <p>
    <strong>Type of Emergency :</strong>
    <% if link.type_emergency == "Harassment" %>
      <span style="color: orange;"><%= link.type_emergency %></span>
    <% elsif link.type_emergency == "Fire" %>
      <span style="color: red;"><%= link.type_emergency %></span>
    <% elsif link.type_emergency == "Accident" %>
      <span style="color: purple;"><%= link.type_emergency %></span>
    <% elsif link.type_emergency == "Medical" %>
      <span style="color: green;"><%= link.type_emergency %></span>
    <% else %>
      <%= link.type_emergency %>
    <% end %>
  </p>

</div>
