<div id="<%= dom_id link %>">
  <p>
    <strong>Name:</strong>
    <%= link.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= link.url %>
  </p>

  <p>
    <strong>Rush Emergency ?:</strong>
    <%= link.ruch_emergency %>
  </p>

  <p>
    <strong>Type of Emergency :</strong>
    <%= link.type_emergency %>
  </p>

</div>
