<p style="color: green"><%= notice %></p>
<div id="header">
<img src="<%= asset_path('AIT_logo-1.png') %>" alt="Custom Map" width="500" height="100" />

<!-- <img src="<%= asset_path('AIT_globe.jpg') %>" alt="Custom Map" width="100" height="100" /> -->

<h1 class="letter-sequence">Welcome to AIT Community</h1>
<h4 class="letter-sequence">----------Post some Emergency or Telling somthing---------- </h4>

</div>
<div id="content">
  <a class="button" href="<%= phone_lists_path %>">Phone Lists</a>
  <a class="button" href="<%= new_link_path %>">Notify or tell emergency</a>
  <a class="button" href="<%= map_path %>">See the Map</a>
  <a class="button" href="/admin">Only Admin</a>
  <a class="button" href="https://www.ait.ac.th">AIT site</a>
</div>



<div id="content">
<div id="links">
  <% @links.order(created_at: :desc).each do |link| %>
    <div class="link">
    <%= render link %>
    <p>
      <%= link_to "Comment", link %>
    </p>
    </div>
  <% end %>
</div>
</div>


