<h2>Comments</h2>
<table>
<table>
<thead>
<tr>
<th>Name </th>
<th>Comment</th>
<th>Post on</th>
</tr>
</thead>
<tbody>
<% @link.students.each do |student| %>
<tr>
<td><%= student.studentid %></td>
<td><%= student.name %></td>
<td><%= student.created_at+25200 %></td>


</tr>
<% end %>

<% if current_user.username == @link.user %>
  <%= link_to "Edit this post", edit_link_path(@link) %> 
<% end %>

<!-- <% @link.students.each do |student| %>
  <%= button_to "edit this student", @link, method: :edit %>
<% end %> -->

<!-- <%= link_to "Edit this book", edit_link_path(@link) %> -->

<% if @link.user == current_user.username %>
  <%= button_to "Destroy this post", @link, method: :delete %>
<% end %>



</tbody>
</table>
<br/>
<h2>Add a comment:</h2>
<%= form_for([@link, @link.students.build]) do |f| %>

<div class="field">
  <%= f.label :Name %><br />
  <%= f.text_field :studentid, value: current_user.username, readonly: true %> 
  <!-- readonly: true will make this field can not edit -->
</div>

<div class="field">
  <%= f.label :Comment%><br />
  <%= f.text_area  :name %>
</div>

<!-- <div>
    <%= f.file_field :picture %> 
    <%= f.submit %>
</div> -->

<div class="actions">
  <%= f.submit "Comment", class:"btn"%>
</div>

<% end %>
<br />
<%= link_to "Back", links_path %>





